$breakpoints: (
  "laptop": 1100px,
  "tablet-horiz": 1024px,
  "tablet-vert": 768px,
  "phone-horiz": 736px,
  "phone-horiz-small": 667px,
  "phone-horiz-tiny": 568px,
  "phone-medium": 414px,
  "phone-small": 375px,
  "phone-tiny": 320px,
);

$phone-horiz-tiny: "min-width: 568px";
$tablet-vert: "min-width: 767px";
$tablet-horiz: "min-width: 1024px";

$max-width: 1200px;
